body {

    /* Body Takes Up Whole Window */
    background-color:#444444;

    position: fixed;

    margin: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

}

.NavBar{

    z-index: 0;

    margin: 0;
    left: 0;
    right: 0;
    top: 0;

    height: 70px;

    background: linear-gradient(to left,#0061ff, #60efff);
    filter: drop-shadow(0px 1.5px 4px #000000);

    display:flex;
}

#LoginButton{

    z-index: 1;
    padding:0;

    color:white;
    background-color: rgba(255,255,255, 0.125);

    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    border-color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;

    
    left: 100vw;
    width: 200px;
    transform: translateX(-110%);
    height: 30px;
    position: absolute;
    top: 20px;

    filter: drop-shadow(2px 1.5px 4px #000000);

    transition: 0.3s;
}

#LoginButton:hover{
    color: #0061ff;
    background-color: white;  
}

#LoginButton:active{
    transform: translateX(-110%) translateY(1px);
}

#AppHeader{
    z-index: 2;
    position: absolute;
    text-align: center;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin: 0;
    left: 12px;
    font-size: 40px;
    height: 40px;
    line-height: 40px;

    top: 50%;
    transform: translateY(-50%);

    filter: drop-shadow(0px 1.5px 2px #000000);


}