:root {
    --orange: #eb5e28;
    --white: #FFFCF2;
    --gray1: #ccc5b9;
    --gray2: #403D39;
    --gray3: #252422;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {

    /* Body Takes Up Whole Window */
    background-color: var(--gray3);

    position: fixed;

    margin: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

}

.NavBar{

    z-index: 0;

    margin: 0;
    left: 0;
    right: 0;
    top: 0;

    height: 70px;

    /*background: linear-gradient(to left,#0061ff, #60efff);*/
    background-color: var(--gray2);
    filter: drop-shadow(0px 1.5px 4px black);

}

#LoginButton{

    z-index: 1;
    padding:0;

    color: var(--white);
    background-color: rgba(255,255,255, 0.125);
    
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    border-color: var(--gray1);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;

    
    left: 100vw;
    width: 70px;
    transform: translateX(-130%);
    height: 30px;
    position: absolute;
    top: 20px;

    filter: drop-shadow(2px 1.5px 4px black);

    transition:color 0.3s;
    transition:background-color 0.3s;

}

#LoginButton:hover{
    color: var(--orange);
    background-color: var(--gray1);  
}

#LoginButton:active{
    transform: translateX(-130%) translateY(1px);
}

#AppHeader{
    z-index: 2;
    position: absolute;
    text-align: center;
    color: var(--gray1);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin: 0;
    left: 12px;
    font-size: 40px;
    height: 40px;
    line-height: 40px;

    top: 50%;
    transform: translateY(-50%);

    filter: drop-shadow(0px 1.5px 2px black);


}

.LoginPrompt{
    
    font-family: "Montserrat", sans-serif;
    font-weight: 600;

    border-style: solid;
    border-width: 0.25vw;
    border-color: var(--orange);

    width:25vw;
    height:13.25vw;

    position: absolute;

    left: 50%;
    top: 50%;

    transform: translateX(-50%) translateY(-50%);
    
    background-color: var(--white);

    filter: drop-shadow(0px 8px 8px);

    max-width: 23vw;
}

#LoginLabel{
    position: relative;
    top: 1vw;
    left: 1.4vw;
    font-size: 1vw;
}

#email{
    position: relative;

    top: 1vw;
    left: 1.4vw;
    margin: 0;
    padding: 0;


    width: 20vw;
    height: 2vw;

}

#password{
    position: relative;

    top: 1vw;
    left: 1.4vw;
    margin: 0;
    padding: 0;


    width: 20vw;
    height: 2vw;

}

#rememberMe{
    position: relative;
    right: 19.2vw;
    top: 3.2vw;
}

#rememberMe:checked{
    accent-color: var(--orange);
}


#rememberText{
    position: relative;
    
    top: 1.55vw;
    left: 2.5vw;

    font-size: 1vw;
}

#btnLogin{
    position: relative;

    top: 2vw;
    left: 1.4vw;
    margin: 0;
    padding: 0;

    width: 20vw;
    height: 2vw;

    color: var(--orange);
    
    border-style: solid;
    border-width: 2px;
    border-color: var(--orange);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;

    transition:color 0.3s;
    transition:background-color 0.3s;
    
}


#btnLogin:hover{
    color: var(--white);
    background-color: var(--orange);  
}

#btnLogin:active{
    transform: translateY(1px);
}